.App {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.site-code-button-transition-appear {
  opacity: 0;
  transform: translateX(-50px);
}
.site-code-button-transition-appear-active {
  opacity: 1;
  transform: translateX(0px);
  transition: opacity 300ms, transform 500ms ease-in-out;
}

.site-code-button {
  position: absolute;
  z-index: 1;
  top: 2em;
  left: -0.6em;
}
.site-code-button button.ui i {
  transition: all 0.5s ease-out !important;
  color: #1b1d1a;
}
.site-code-button button.ui i:hover {
  transition: all 0.5s ease-out !important;
  color: rgb(222, 219, 219) !important;
}
